body {
  background-color: #AAC5AA;
}
nav {
  list-style-type: none;
  background-color:  #588157;
  width: 100%;
  margin: 0;
  overflow: hidden; 
  position: fixed;
  padding: 20px 60px;
}
li {
 float: left; 
}

li a{
  color:white;
   text-decoration: none;
  padding: 20px 60px;    
}

li a:hover {
  background-color: #ACC9E0; 
  color:black;
}
