h1 { 
  color: #1d3557;
  letter-spacing: 6px;
  font-size: 200%;
  text-shadow: 3px 1px #9BC4CB;
}
h2 { 
  color: #457b9d;
}

body {
  background-color: #bde0fe;
}
nav {
  list-style-type: none;
  background-color:  #219ebc;
  width: 100%;
  margin: 0;
  overflow: hidden; 
  position: fixed;
  padding: 20px 60px;
}
li {
 float: left; 
}

li a{
  color:#e6e9ec;
   text-decoration: none;
  padding: 20px 60px;    
}

li a:hover {
  background-color: #e6e9ec; 
  color:#219ebc;
}
