body {
  background-color: lightblue;
}
nav {
  list-style-type: none;
  background-color:  #C5D86D;
  width: 100%;
  margin: 0;
  overflow: hidden; 
  position: fixed;
  padding: 20px 60px;
}
li {
 float: left; 
}

li a{
  display: lightgreen;
  color: blue;
   text-decoration: none;
  padding: 20px 60px;    
}

li a:hover {
  background-color:lightgreen;
    color: blue; 
}
